<div class="col-md-3">
    <div class="content-section">
        <div class="media">
            <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <ul class="list-group">
            <a href="{% url 'blog_homePage' %}"
               class="list-group-item list-group-item-light">Home</a>

            <a href="{% url 'subject_homePage' %}"
               class="list-group-item list-group-item-light">Subjects</a>
        </ul>
        <p></p>

        {% if Subject_Post_List_View %}

            <ul class="list-group">
                {% for key, value in Subject_Post_List_View.right_sidebar.items %}
                    <a href="{{ value }}" class="list-group-item list-group-item-light">{{ key }}
                    </a>
                {% endfor %}
            </ul>
            <p></p>
        {% endif %}
    </div>
</div>

